<div id="content-wrap"><!-- content-wrap -->
	
	<div id="content"><!-- content -->
				
		<div id="content-wrap" class="content-wrap-class"><!-- content-wrap -->
			<div id="content" class="content-class"><!-- content -->		
				<%= yield %>
			</div><!-- /content -->
		</div><!-- /content-wrap -->
		
	</div><!-- /content -->
	
</div><!-- /content-wrap -->
