<div id="footer"><!-- footer -->
	<div id="footer-content"><!-- footer-content -->

		<div class="col float-left">
		</div>

		<div class="col float-left">
		</div>		

		<div class="col2 float-right">
			<p>
				&copy; copyright <%= Date.today.strftime("%Y") %> <strong>PortalN</strong>&nbsp; versão: <%= PortalN::VERSAO %>
				<br /> 
			</p>
		</div>

	</div><!-- /footer-content -->
</div><!-- /footer -->
