<div id="banner">
	<% link_to(root_path) do %>
		<h1>
	  		<spam>Andréa Bueno - Arquitetura e Interiores</spam>
		</h1>
	<% end %>
	<div id="contato">
		<div id="nav">
			<%= render :partial => 'sessions/logged_in'%></div>
			andreabueno.arquitetura@gmail.com <br/> (55 61) 9988-2021
		</div>
  <%= render :partial => 'layouts/menu' %>
</div>