<div id="banner">
	<% link_to(root_path) do %>
		<h1>
	  		<spam>Andréa Bueno - Arquitetura e Interiores</spam>
		</h1>
	<% end %>            
	<%= render :partial => 'sessions/logged_in'%>
	<%= render :partial => 'pesquisa/form' %>
  <%= render :partial => 'layouts/menu' %>
</div>