<p>Olá <%= @resource.email %>!</p>

<p>Alguem pediu um link para mudar a sua senha, isso pode ser feito com o link abaixo.</p>

<p><%= link_to t("portaln.mudar_minha_senha"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não requisitou este link, por favor ignore esse e-mail.</p>
<p>Sua senha não mudará enquanto você não acessar o link acima e informar outra senha.</p>
