<%= javascript_include_tag 'views/biografia/index' %>

<div class="imagem"
		 style="background: url('/images/andrea-low.png'); width: 300px; height: 390px;">
</div>
                           
<h1>Missão</h1>
<div class="textp biografia">
	Procuro realizar projetos inovadores, com personalidade e que satisfaçam tantos	os clientes quanto àqueles que irão conviver nesses ambientes. Nossos projetos	são funcionais e aconchegantes, e que levam em consideração os padrões de	sustentabilidade, propiciando conforto, economia e equilíbrio com o meio ambiente.
</div>


<h1>Perfil</h1>
<div class="texto biografia">
		Andréa Bueno é arquiteta formada pela Universidade de Brasília (UnB), com pós-graduação em Arquitetura Assistida por Computador também cursada na UnB. Atua no mercado de arquitetura e decoração de interiores desde 1995. Nesses anos, já elaborou projetos para escritórios, clínicas e residências. Participou de feiras internacionais, como a Orgatec 2000 (Alemanha), e de cursos de aperfeiçoamento e workshops realizados no Brasil, como a Office Solution. Em seus projetos, a arquiteta vem se destacando pelo traço arrojado e funcionalidade dos ambientes. Em sua forma de trabalhar, Andréa Bueno preza pela qualidade, eficiência, transparência, criatividade, originalidade e, acima de tudo, ética no relacionamento com seus clientes e fornecedores, buscando oferecer projetos funcionais, confortáveis e versáteis.
</div>