<div id="conteudo">
	<h1 id="album_title"><%= t("portaln.albuns.editar") %></h1>

	<%= render :partial => 'albuns/form' %>

	<%= render :partial => 'fotos/upload' %>
                  
	<br/>

	<%= link_to "#{t('portaln.voltar')}", albuns_path %>
</div>