<div class="erro">
	                               
	<div style="float: left; width: 20%;">
		<%= image_tag 'security.png' %>
	</div>
	<div style="margin: auto;">
		<h1><%= error %></h1>
		<h2>
			<%= t('portaln.erros.permissao_negada') %>
		</h2>
	</div>
	
</div>