/* sobrescrevendo as classes do jquery */
.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.0em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget-content a { background: inherit; color: #72A545; text-decoration: none; }
.ui-widget-content a:hover { background: inherit; color: #006699; text-decoration: underline; }

.ui-tabs .ui-tabs-panel {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	display: block;
	padding: 1em 1.4em 3em 1.4em;
}

.ui-widget-content {
	color: #555;
}

/* Login */
#logged_in {
	float: right;
	margin: -14px 0px;
}             

#login_panel {
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	padding: 0;
	text-align: center;
	width: 402px;
}          

#login_form {
	background: url("/images/login_bg.jpg") repeat-x scroll 0 0;
	background-color: transparent;
	height: 164px;
	margin: 0 1px;
	padding: 10px;
}
               
#login_title {
	background: url("/images/icons/login_user_64.png") no-repeat scroll 10px 0px;
	margin: 8px;
	padding: 26px 0px 18px 0px;
}

/* Cadastro de usuario */
#registration_title {
	background: url("/images/icons/login_user_64.png") no-repeat scroll 5px 5px;
	margin: 8px;
	padding: 30px 0px 18px 80px;	
}                

/* Noticias */
#noticia_title {
	/*background: url("/images/icons/news_64.png") no-repeat scroll 5px 5px;*/
	margin: 8px;
	padding: 23px 0px 18px 0px;	
}            

.leia_mais {
	background: url("/images/icons/plus_32.png") no-repeat scroll 0px 0px !important;
	padding: 10px 0px 10px 35px;
}         

.leia_mais:hover {
	background: url("/images/icons/play_32.png") no-repeat scroll 0px 0px !important;
	padding: 10px 0px 10px 35px;
}    

.add_link {
	background: url("/images/icons/plus_16.png") no-repeat scroll 0px 0px;
	padding: 2px 0px 0px 19px;
}
   
.autor {
	font-size: 11px;
}              

.noticia_info {
	margin-bottom: 10px;
}

.noticias .data {
	margin-bottom: 2px;
	padding: 0px !important;
	color: #777777;
}             

.noticias {
	padding: 0.4em 0.4em 3em 0.4em;
}

.noticias div {
	margin-bottom: 10px;
	padding: 1em;
}
                                
.noticia_even {
} 

.noticia_odd {
}

.noticia {
	border-bottom: 1px dotted #777;
}        

.noticia .view {               
	background-color: #FFFFFF;
	border:1px solid #F8F8FF;
	color: #222222;
	padding: 1em;
	font: normal 110% 'Trebuchet MS',Verdana,Arial,Helvetica,sans-serif;
}                 

#pesquisa_noticias {
	margin-top: 0px;
	margin-bottom: 20px;
}

.publicar, .publicar:hover {
	background: url("/images/icons/publicar_16.png") no-repeat scroll 0px 0px;
	padding: 1px 0px 0px 22px;
}
                
.box_noticias {
	margin: 5px;
	padding: 5px;
	text-align: justify;   
	
	width: 45%;
	display: block;
	float: left;
}
     
.box_noticias .lista {
	list-style: none;  
}

.box_noticias .link_outras {
	padding: 0px 0px 0px 15px;
}              

.ultimas_noticias {
	padding: 5px;   
	margin: 5px;
}          

.ultimas_noticias ul {
	margin: 0px;
	padding: 0px 0px 0px 25px;		
}
      
.ultimas_noticias .titulo .box {
	float: left;
	width: 96%; 
}

.ultimas_noticias_lista {
	list-style: none;
}                                  

/* tags */
                       
.adicionar_tag {
	padding: 68px 0px 0px 0px; 
	float: left;
}

.tag {
	background: url("/images/icons/tag_32.png") no-repeat scroll 0px 0px;
	padding: 9px 8px 7px 35px;
	color:black;
}

.tag_added {
	background-color: #E0EEEE;
	margin: 2px 2px 0px 0px;      
	padding: 6px 5px 5px 0;
	float: left;
}                

.tag_added .remove {
	background: url("/images/icons/cancel_16.png") no-repeat scroll 0px 0px;
	padding: 2px 10px 0px 10px;
}

#tag_container {
	margin-top: 1px;    
	margin-left: 3%;
}

.tag_string {
	background: url("/images/icons/tag_32.png") no-repeat scroll 0px 0px;
	padding: 6px 35px;           
	color: #777777;
}    

.tag_string a {
	background: none;
}
       
.tag_small {
	font-size: 1.0em;	
} 

.tag_little {
	font-size: 1.2em;
} 

.tag_medium {
	font-size: 1.4em;	
} 

.tag_big {    
	font-size: 1.6em;
}               

.tag_cloud {
	background-color: #EDEFF0;
	padding: 5px;   
	margin: 5px;
}              

.tag_cloud #titulo_cloud {
	margin-bottom: 5px;
}
                        
/* Usuarios */
#usuario_title {
	background: url("/images/icons/user_64.png") no-repeat scroll 5px -2px;
	margin: 8px;
	padding: 23px 0px 18px 80px;	
}
             
/* Upload */
                                  
.upload {
	margin-left: 15px;
}      
                  
#pesquisa_albuns {
	margin-top: 10px;
}

.album {
}                 

.album #sem_imagem {
	text-align: center;                                                   
	background: url("/images/icons/default_img.png") no-repeat;
	height: 155px;
	padding:100px 0 0 90px;
}           

.album2 {
	width: 48%;
	float: left;
}

#fileQueue {
	padding-top: 35px;
}                
              
#fotos_container #lista_fotos ul {
	margin: 10px 0px;
	padding: 0px;
}
 
#opcoes_da_foto img {
	margin-top: 2px;
}

/* galeria */
#imagem_principal {
	width: 90%;
	text-align: center;
              
	margin-left: 27px;
	margin-bottom: 10px;
	
	padding: 5px;
}
           
.galeria {
}
  
.galeria .proxima_navigator {
	float: right;      
	margin-top: 28%;
}                

.galeria .anterior_navigator {
	float: left;      
	margin-top: 28%;
}                

.galeria .proxima {
	width: 30px;
	height: 30px;                                                                        
	background: url("/images/arrows.png") no-repeat transparent;
	background-position: 0px -30px;  
	display: block;
}    

.galeria .proxima:hover {
	background-position: -30px -30px;
}       

.galeria .proxima:active {
	background-position: -60px -30px;
}       

 
.galeria .anterior {
	width: 30px;
	height: 30px;                                                                        
	background: url("/images/arrows.png") no-repeat transparent;
	background-position: 0px 0px;  
	display: block;
}       

.galeria .anterior:hover {
	background-position: -30px 0px;
}       

.galeria .anterior:active {
	background-position: -60px 0px;
}
                        
.scrollable {        
	float: left;
	width: 90%;
	height: 132px;      
	overflow: hidden;
	position: relative;
	        
	background: url("/images/scrollable_background.png") repeat-x scroll 0 0 transparent;
	border: 1px solid #ccc;
	margin-left: 10px;
}

.scrollable .items {
	width: 20000em;
	position: absolute;
}    

.scrollable .active {
	border: 2px solid #000;
	position: relative;
	cursor: default;
}
           
.items div {
	float: left;
}                              

.scrollable img {
	float: left;
	margin: 10px;
	background-color: #fff;    
	border: 1px solid #ccc;
	padding: 5px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	
	cursor: pointer;
}                     
                 

.left_navigator {
	clear: both;
	float: left;
	margin-top: 52px;
} 

.right_navigator {
	clear: both;
	float: right;
	padding: 0px 0px 100px 0px;
	margin: -82px 45px;	
}

a.browse {
	cursor: pointer;
}
              
a.right { 
	background: url('/images/right.png') no-repeat;
	background-position: 0px 0px;  
	margin-right: 0px;
	width: 18px;
	height: 18px;
	display: block;
}
a.right:hover { 
	background-position: 0px -18px; 
}
a.right:active {
} 

a.left {
	background: url('/images/left.png') no-repeat;
	background-position: 0px 0px;  
	margin-right: 0px;
	width: 18px;
	height: 18px;
	display: block;
} 
a.left:hover {
	background-position: 0px -18px; 
}
a.left:active {
}

a.disabled {
	visibility: hidden !important;		
}

/* Fotos e album */

.capa {
	background-color: #99CCFF !important;
}
                        
.jquery-corner {
    position: relative;
    z-index: 1;
}

.foto_thumb {
	float: left;
	margin: 10px;
	padding: 0;
	width: 100px;
	height: 100px;
}          
  
.foto_thumb2 {
	float: left;
	margin: 10px;
	padding: 0;
	width: 300px;
	height: 300px;
}

.foto_info {
	float: left; 
	width: 35%;
}
 
.foto_info2 {
	float: left; 
	width: 100%; 
	padding-left: 12px;
}

.foto_info2 h3 {
	margin-bottom: 5px;
}

.box_foto { 
  float: left; 
  margin: 10px 5px; 
  background-color: #CCCCCC; 
  border: 1px solid #AAAAAA; 
  padding: 6px; 
  text-align: center;
}             

.box_foto a {
	color: black;
}

.box_foto_branco { 
  float: left; 
  margin: 5px;
  border: 0px solid #AAAAAA; 
  text-align: center;
  background-color:#f0f0f0;
  height: 250px;
  width: 150px;
  vertical-align: middle;
  padding:10px;
}

.box_foto_branco img {
	cursor: pointer;
	border:2px solid black;
}

li.box_foto {
  list-style-type: none;
}


li.box_foto_branco {
  list-style-type: none;
}

.box_album {
  width: 46%;
  padding: 10px; 
  float: left; 
  margin-bottom: 5px; 
  font-size: 12px;
  height: 105px;
	background-color: #FFFFFF;
	border: medium none;
}

.box_album img{
  border: 1px solid black;
  margin-right: 10px;
}

/* Geral */

#simple_captcha {
	margin: 0px 10px;
}                  

.simple_captcha_label {
	margin-left: 10px;
}               

.simple_captcha_field {
	margin: 0px !important;
}

#sobre {
	border: 1px dotted black;
	padding: 10px;
}

.feed_in_title {
	float: right;
}
                                                                        
.highlight, .match{ 
	background: #ff0; 
}

#busca-padrao {
	float: left;
	margin-left: 73%;/*15%*/
	width: 25%; 
}         

#busca-padrao .search-button {
	float: left;
	width: 20%;
	margin-top: 16px;
}

#busca-padrao .search-button a {
	padding: 2px 4px 6px 7px !important;
}

#busca-padrao .query-field {
	float: left;
	width: 80%;
}

#busca-padrao .query-field input {
	width: 200px !important;
	margin: 15px !important;
	padding: 4px !important;
}
  
.titulo {
	border-color: #666666;
	border-top: 2px solid #000000;
	padding-bottom: 21px;
	padding-top: 12px;
	font-size: 25px;
}                        

.titulo a {
	color: #666666;
}

.titulo_capa {
	font: bold 1em 'Trebuchet MS', Tahoma, Sans-serif;
	font-size: 1.4em; color: #65944A;
}                          

.even {
	background-color: #cdcdcd; 
} 

.odd {
	background-color: #F5F5F5;
}
     
.erro {
	margin: 40px 0px 80px 0px;
}

.input_normal {
	width: auto !important;
}

.data {
	font-size: 14px;
}

.clicavel {
	cursor: pointer;
}

.field input {
	border: 1px solid black;
	color: black;
	font-size: large;
	margin: 10px;
	padding: 8px;
	width: 340px;
}

.field textarea {
	border: 1px solid black;
	color: black;
	font-size: large;
	margin: 10px;
	padding: 8px;
	width: 600px;
}
     
.error {
	color: black;
	background: #FDD;
	border: 1px solid #F00;
	display: block;
	font-weight: bold;
	margin: 2px auto 6px;
	padding: 6px 6px 6px 30px;
	text-align: left;
} 

.success {
	background: #F4FDEF;
	border: 1px solid #ACDFA7;
	color: #384F34;
	display: block;
	font-weight: bold;
	margin: 2px auto 6px;
	padding: 6px 6px 6px 30px;
	text-align: left;
} 

.alert {
	color: black;
	background: #FFC;
	border: 1px solid #FC0;
	display: block;
	font-weight: bold;
	margin: 2px auto 6px;
	padding: 6px 6px 6px 30px;
	text-align: left;
}

/* font-size (acessibilidade) */
.tam1 p, .tam1 li{ font-size: 45% }
.tam2 p, .tam2 li{ font-size: 55% }
.tam3 p, .tam3 li{ font-size: 70% }
.tam4 p, .tam4 li{ font-size: 85% }
.tam5 p, .tam5 li{ font-size: 100% } /* normal */
.tam6 p, .tam6 li{ font-size: 115% }
.tam7 p, .tam7 li{ font-size: 130% }
.tam8 p, .tam7 li{ font-size: 145% }
.tam9 p, .tam7 li{ font-size: 160% }

#font_size {
	float: right;
	margin-top: -15px;
	width: 15%;
}

#font_size ul { 
	float: right; 
	list-style: none;
	margin: 0px;
}
#font_size ul li { 
	float: left; 
	margin-right: 3px;
}

#font_size a {
	width: 20px;
	height: 20px;
	text-align: center;
	display: inline-block; 
	font-size: 12px; 
	line-height: 20px; 
	background: #ccc;
	color: #4F4F4F
}

#font_size li .disabilitar {
	color: #AFAFAF;
	background-color: #DFDFDF
}
             

.tooltip {              
	background-color: #cdcdcd; 
	border: black dotted 1px; 
	position: absolute; 
	width: 25%; 
	height: auto; 
	padding: 5px;
}

/* override the arrow image of the tooltip */
.tooltip.bottom {
	padding-top: 40px;
	height: 55px;
}

.tooltip.bottom {
}

/* =================================================================================================================
	Andrea layout 
================================================================================================================= */

.galleria-thumbnails .galleria-image{width:90px;height:60px;}
.galleria-thumbnails-list{height:60px;}
.galleria-thumb-nav-left,
.galleria-thumb-nav-right{height:55px;}

body {
	background: url(/images/andrea-layout/bg_corpo.jpg) repeat 50% 0;
	background-attachment: scroll;
	margin: 0;
	font: 90%/1.2em Helvetica, Arial, sans-serif;
	min-width: 800px;
	min-height: 580px;
}
#conteiner {
	background: url(/images/andrea-layout/bg_topo.jpg) repeat-x 50% 0;
	background-attachment: scroll;
}
#moudura_top {
	background: #292C30 url(/images/andrea-layout/sombra_sup.jpg) repeat-x 50% 0;
	background-attachment: scroll;
	margin: 0 50px 0;
}
#moudura_inf {
	background: url(/images/andrea-layout/sombra_inf.jpg) repeat-x 50% 100%;
	background-attachment: scroll;
}
#moudura_es {
	background: url(/images/andrea-layout/sombra_es.jpg) repeat-y 0 50%;
	background-attachment: scroll;
}
#moudura_di {
	background: url(/images/andrea-layout/sombra_di.jpg) repeat-y 100% 50%;
	background-attachment: scroll;
}
#moudura_top_es {
	background: url(/images/andrea-layout/sombra_sup_es.jpg) no-repeat 0 0;
	background-attachment: scroll;
}
#moudura_top_di {
	background: url(/images/andrea-layout/sombra_sup_di.jpg) no-repeat 100% 0;
	background-attachment: scroll;
}
#moudura_inf_es {
	background: url(/images/andrea-layout/sombra_inf_es.jpg) no-repeat 0 100%;
	background-attachment: scroll;
}
#moudura_inf_di {
	background: url(/images/andrea-layout/sombra_inf_di.jpg) no-repeat 100% 100%;
	background-attachment: scroll;
	min-height: 580px;
}
#conteiner_int{
	padding: 19px 28px 45px;
	color:#ddd;
}
#banner {
	background: url(/images/andrea-layout/topo_bg.jpg) repeat-x 0 0;
	background-attachment: scroll;
	height: 88px;
	position:relative;
}
#banner h1{
	background: url(/images/andrea-layout/marca.gif) no-repeat 0 0;
	padding: 20px 0 0 20px;
	margin: 0;
	display:block;
	height: 40px;
	width: 310px;
	top: 20px;
	left: 20px;
	position:absolute;
}
#banner h1 spam{
	display: none;
}
#banner #contato{
	font: 85% Courier, "Courier New", monospace;
	position:absolute;
	color: #CAB1B1;
	text-align:right;
	right: 20px;
	top: 16px;
}
#banner #menu{
	font: 1em Courier, "Courier New", monospace;
	position:absolute;
	color: #CAB1B1;
	text-align:right;
	right: 20px;
	top: 47px;
}     
#banner #menu ul {
	list-style: none;
}
#banner #menu li {
	display: inline;
}
#banner #menu a{
	color: #CAB1B1;
	text-decoration:none;
}
#banner #menu a:hover{
	color: #ddd;
	text-decoration:underline;
}
#banner #menu a.selecionado{
	color: #ddd;
}            
#banner #menu li a#current {
	text-decoration: underline;
}
#conteudo{
	margin: 15px;
}
.imagem{
	float:right;
	margin-left: 15px;
}
h2 span {
	color:#777;
}
a {
	color:#ddd;
	text-decoration:none;
}
a:hover{
	text-decoration:underline
}
img{
	border: 0;
}
.materia_linha{
	border-bottom: 1px dotted #777;
}
.galeria{
	height: auto;
	width: auto;
	margin: 0px !important;
}
label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}

input {
	padding: 2px;
	border:1px solid #eee;
	font: normal 1em "Trebuchet MS", Tahoma, sans-serif;
	color:#777;
}
textarea {
	width:400px;
	padding:2px;
	font: normal 1em "Trebuchet MS", Tahoma, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}
input.button { 
	margin: 0; 
	font: bold 1em Arial, Sans-serif; 
	background: #FFF url(/images/layout/gradientbg.jpg) repeat-x; 
	padding: 2px 3px; 
	color: #333;	
	border: 1px solid #DADADA;	
}

/* footer */
#footer {
	clear: both;
	margin: 0; padding: 0;
	font: normal .95em/1.6em 'Trebuchet MS', Tahoma, Arial, sans-serif;
	text-align: left;	
}

#footer h1, #footer p {	margin-left: 0; }

#footer-content {	
	border-top: 1px solid #EAEAEA;
	margin: 0 auto;
	padding-left: 15px;
}
#footer-content a {
	text-decoration: none;
	color: #777;	
}
#footer-content a:hover {
	text-decoration: underline;
	color: #333;
}
#footer-content ul {
	list-style: none;
	margin: 0; padding: 0;
}
#footer-content .col {
	width: 32%;
	padding: 0 5px 30px 0;	
}
#footer-content .col2 {
	width: 33%;
	padding: 0 0 30px 0;	
}  

/* start - table */
table {
	border-collapse: collapse;
	margin: 10px 0px;	
}
th strong {
	color: black;
}
th {
	background: #680000 ;
	height: 29px;
	padding-left: 11px;
	padding-right: 11px;
	color: #fff;
	text-align: left;
}
tr {
	height: 30px;
}
td {
	padding-left: 11px;
	padding-right: 11px;
	/* border-left: 1px solid #FFE1C3; */
	color: black;
}
td.first,th.first {
	border-left: 0px;
}
tr.row-a {
	background: #F8F8F8;
}
tr.row-b {
	background: #EFEFEF;
}
/* end - table */

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right {	text-align: right; }

/* additional classes */
.clear { clear: both; }
.gray  { color: #BFBFBF; }

.fileName {
	color: black;
}

.biografia {
	text-align: justify;
	line-height: 180%;
	padding-right: 30%;
}












