<div class="field" style="width: 37%; float: left;">
	<p>          
		<label>Tags</label><br />
		<%= text_field_tag 'name', '', :id => 'tag_name' %>
	</p>
</div>
<div class="buttons adicionar_tag">
	<a id="adicionar_tag"><%= t('portaln.tags.adicionar_tag') %></a>
</div>
<div style="clear: both;"></div>